.page-resources {
  &__banner {
    width: 100%;
    height: 554px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100% !important;
      height: 100% !important;
      max-width: 100% !important;
      left: 0;
      object-fit: cover;
    }
    .title-banner {
      position: relative;
      z-index: 2;
    }
  }
  &__filters {
    background: #f5f5f5;
    padding: 89px;
    .container {
      display: block;
      max-width: 1480px;
      .paragraph {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        text-align: center;
        letter-spacing: 0.025em;
        color: #000000;
        max-width: 900px;
        margin: 0 auto;
        margin-bottom: 100px;
        span {
          font-weight: 700;
        }
      }
      .conetnt {
        &__row {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 20px;
          margin-bottom: 50px;
          &--wrap {
            align-items: flex-start;
          }
          .label {
            font-family: $Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 29px;
            color: #162c3d;
            margin-right: 40px;
            img {
              margin-left: 10px;
              margin-top: 2px;
            }
          }
          .list {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            &--wrap {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
            }
            .button-filter {
              padding: 0 20px;
              height: 44px;
              border-radius: 35px;
              border: none;
              font-family: $Raleway;
              font-style: normal;
              font-weight: 600;
              font-size: 13px;
              line-height: 14px;
              background: #e3e3e3;
              color: #162c3d;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                display: none;
                margin-top: -2px;
                margin-left: 5px;
              }
              &--active {
                color: #ffffff;
                img {
                  display: flex;
                }
              }
            }
          }
          .label {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .content__cards {
    padding: 80px 20px;
    background-color: #ffffff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -25px;
    position: relative;
    z-index: 1;
    .see-more--orange-ligth {
      float: none;
      margin: 0 auto;
    }
    .center {
      width: 100%;
      text-align: center;
      margin: 100px 0;
    }
    .container {
      max-width: 1480px;
      display: block;
      .felx-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        .card-developing {
          border-radius: 24px;
          width: 332px;
          margin-bottom: 40px;
          .see-more {
            justify-content: center;
          }
          &__head {
            background: #719f59;
            border-radius: 24px 24px 0px 0px;
            padding: 24px;
            .title-type {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              letter-spacing: 0.02em;
              color: #ffffff;
              margin-bottom: 16px;
            }
            .title-card {
              font-family: $Raleway;
              font-style: normal;
              font-weight: 600;
              font-size: 30px;
              line-height: 35px;
              color: #ffffff;
              margin-bottom: 50px;
            }
            .head-bottom {
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              img {
                max-width: 140px !important;
                max-height: 115px !important;
                object-fit: contain;
              }
              .type {
                display: flex;
                justify-content: flex-start;
                img {
                  margin-right: 5px;
                  width: 15px;
                  height: 15px;
                }
                .turtle {
                  width: 145px;
                  height: auto;
                }
                .type {
                  margin-top: -2px;
                }
                span {
                  font-family: "Roboto";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 16px;
                  letter-spacing: 0.02em;
                  text-transform: uppercase;
                  color: #162c3d;
                }
              }
            }
          }
          &__footer {
            border-radius: 0px 0px 24px 24px;
            background: #ededed;
            padding: 24px;
            // padding-bottom: 20px;
            .for {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 16px;
              letter-spacing: 0.02em;
              text-transform: uppercase;
              margin-bottom: 8px;
              color: #468085;
            }
            p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 160%;
              color: #162c3d;
              margin-bottom: 16px;
            }
            .see-more {
              font-family: $Raleway;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 14px;
              display: flex;
              align-items: center;
              text-align: center;
              text-transform: uppercase;
              color: #ffffff;
              float: none;
            }
          }
        }
      }
      .element-hidden {
        display: none !important;
      }
    }
  }
  @media (max-width: 768px) {
    &__banner {
      height: 454px;
      .title-banner {
        font-size: 32px;
        line-height: 36px;
      }
    }
    .content__cards .container {
      padding: 0;
      .felx-wrap .card-developing {
        margin-bottom: 10px;
      }
    }
    &__filters {
      margin-top: -25px;
      position: relative;
      z-index: 10;
      .container {
        padding: 0;
        .paragraph {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          text-align: center;
          letter-spacing: 0.025em;
          color: #162C3D;
          margin-bottom: 40px;
          span {
            font-weight: 400;
          }
        }
        .conetnt {
          &__row {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .list--wrap {
              display: flex;
              flex-wrap: wrap;
              align-items: flex-start;
            }
            .label {
              margin-bottom: 22px;
              font-size: 16px;
              line-height: 19px;
            }
            .list {
              flex-direction: column;
              align-items: flex-start;
              width: auto;
            }
          }
        }
      }
      padding: 56px 16px;
      padding-bottom: 30px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  }
}
