$max-screen: 1280px;
$small: 440px;
$s-medium: 570px;
$medium: 768px;
$large: 960px;
$x-large: 1060px;
$xx-large: 1250px;
$Raleway: "Raleway", sans-serif;

$white: #ffffff;
$black: #000000;
$transparent: transparent;